
      /* services */
      .services {
        margin-top: 2rem;
        padding: 20px 20px;
       
      }

      .services .heading {
        background: #eee;
        height: 200px;
        width: 70%;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .services .heading h1 {
        position: absolute;
        right: -30px;
        top: 70px;
        font-style: italic;
        /* transform: translate(50%, 50%) rotate(-90deg); */
        font-size: 3rem;
        text-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
      }

      .serviceBoxContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 50px;
        margin: 20px 20px;
      }
      .serviceBox {
        position: relative;
        margin-top: 1rem;
        padding: 50px 20px;
        text-align: center;
        height: 200px;
        border-radius: 10px;
        border: .5px solid black;
        box-shadow: 2rem 2rem 2rem 0 rgba(160, 159, 159, 0.1);
      }
      .serviceBox:hover {
        background: #eee;
        border: none;
        transform: scaleY(1.1);
      }

      .serviceBox:nth-child(1) i {
        background: rgb(248, 134, 134 ,0.4);
      }
      .serviceBox:nth-child(2) i {
        background: rgba(185, 248, 188, 0.4);
      }
      .serviceBox:nth-child(3) i {
        background: rgba(185, 179, 253, 0.4);
      }
      .serviceBox:nth-child(4) i {
        background: rgba(175, 244, 253, 0.4);
      }
      .serviceBox:nth-child(5) i {
        background: rgba(244, 202, 177, 0.4);
      }
      .serviceBox:nth-child(6) i {
        background: rgba(246, 185, 234, 0.4);
      }

      .serviceBox i {
        position: absolute;
        color: black;
        top: -25px;
        left: 40%;
        transform: translateX(-50%);
        font-size: 1.7rem;
        padding: 20px;
        border-radius: 50%;
        opacity: 0;
        animation: iconFromCorner 1s forwards;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation-delay: 0.2s;
      }
      .serviceBox i .icon{
        color: black;
        height: 10px;
      }
      .serviceBox i:hover {
        background: #eee;
        border: 1px solid black;
      }
    
      .serviceBox h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        opacity: 0;
        animation: textFromLeft 1s forwards;
        animation-delay: 0.4s;
      }

      /* Paragraph styling and animation */
      .serviceBox p {
        opacity: 0;
        animation: textFromRight 1s forwards;
        animation-delay: 0.6s;
      }

      
      /* Keyframes for icon animation */
      @keyframes iconFromCorner {
        0% {
          opacity: 0;
          transform: translate(-50%, -50%);
        }
        100% {
          opacity: 1;
          transform: translate(0, 0);
        }
      }

      /* Keyframes for heading animation */
      @keyframes textFromLeft {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      /* Keyframes for paragraph animation */
      @keyframes textFromRight {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      @media (max-width: 768px) {
        .serviceBoxContainer {
          flex-direction: column;
          align-items: center;
        }

        .serviceBox {
          width: 90%;
        }
      }