
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");


:root {
    --primary: #eee;
    --secondary: #94afa6;
    --text-color: #333;
    --main-color: #82cd9c;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Inter', sans-serif;
    font-weight: 200;
  }
  h1{
    color: var(--text-color);
  }